# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\matuto\Desktop\4.semester\OOP\cvicenie01\FEI-UIM-OOP-LS-21-cvicenie1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
